@page "/usersettings"
@layout MainLayout

<h3>@_loc["UserSettingsTitle"]</h3>

<EditForm Model="this">
    <div class="row">
        <!-- User-Settings -->
        <div class="col-md-6">
            <h4>@_loc["UserSectionTitle"]</h4>
            <div class="mb-3">
                <label class="form-label">@_loc["Firstname"]</label>
                <InputText class="form-control" @bind-Value="Firstname" />
            </div>
            <div class="mb-3">
                <label class="form-label">@_loc["Surname"]</label>
                <InputText class="form-control" @bind-Value="Surname" />
            </div>
            <div class="mb-3">
                <label class="form-label">@_loc["Street"]</label>
                <InputText class="form-control" @bind-Value="Street" />
            </div>
            <div class="mb-3">
                <label class="form-label">@_loc["City"]</label>
                <InputText class="form-control" @bind-Value="City" />
            </div>
            <div class="mb-3">
                <label class="form-label">@_loc["Postcode"]</label>
                <InputText class="form-control" @bind-Value="Postcode" />
            </div>
            <div class="mb-3">
                <label class="form-label">@_loc["Phone"]</label>
                <InputText class="form-control" @bind-Value="Phone" />
            </div>
            <div class="mb-3">
                <label class="form-label">@_loc["Email"]</label>
                <InputText class="form-control" @bind-Value="Email" />
            </div>
            <div class="mb-3">
                <label class="form-label">@_loc["Homepage"]</label>
                <InputText class="form-control" @bind-Value="Homepage" />
            </div>
        </div>

        <!-- App-Settings -->
        <div class="col-md-6">
            <h4>@_loc["AppSectionTitle"]</h4>
            <div class="mb-3">
                <label class="form-label">@_loc["BitlyApiKey"]</label>
                <InputText class="form-control" @bind-Value="BitlyApiKey" />
            </div>
            <div class="mb-3">
                <label class="form-label">@_loc["SmtpServer"]</label>
                <InputText class="form-control" @bind-Value="SmtpServer" />
            </div>
            <div class="mb-3">
                <label class="form-label">@_loc["SmtpUser"]</label>
                <InputText class="form-control" @bind-Value="SmtpUser" />
            </div>
            <div class="mb-3">
                <label class="form-label">@_loc["SmtpPass"]</label>
                <InputText class="form-control" @bind-Value="SmtpPass" type="password" />
            </div>
            <div class="mb-3">
                <label class="form-label">@_loc["SmtpPort"]</label>
                <InputNumber class="form-control" @bind-Value="SmtpPort" />
            </div>
            <div class="mb-3">
                <label class="form-label">@_loc["SmtpServerOption"]</label>
                <InputText class="form-control" @bind-Value="SmtpServerOption" />
            </div>
            <div class="mb-3">
                <label class="form-label">@_loc["LatexPath"]</label>
                <InputText class="form-control" @bind-Value="LatexPath" />
            </div>
            <div class="mb-3">
                <label class="form-label">@_loc["ApplicationPath"]</label>
                <InputText class="form-control" @bind-Value="ApplicationPath" />
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">@_loc["Save"]</button>
</EditForm>
